body{
    background-color: #fff7f3;
}

h1{
    text-align: center;
    color: #d85b67;
}

h2{
    text-align: center;
    color: #595959;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
}

.answer_field{
    display: flex;
    gap: 20px;
}

.answer-flame{
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
    grid-auto-rows: 100px;
}
.flame{
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
    grid-auto-rows: 100px;
    gap: 15px 50px;
}

.answer-1{
    background-color: #ffb3c1;
}

.answer-2{
    background-color: #f9a8ff;
}

.answer-3{
    background-color: #ffc5e1;
}

.answer-4{
    background-color: #ef5285;
}

.answer-5{
    background-color: #ffeb8a;
}

.answer-6{
    background-color: #a5dff9;
}

.answer-7{
    background-color: #a1f7d8;
}

.answer-8{
    background-color: #c1f9ff;
}

.answer-9{
    background-color: #ff9aa2;
}

.piece{
    width: 100px;
    height: 100px;
}

.piece-area{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.piece-paragraph{
    display: flex;
    gap: 50px;
}

.piece-1{
    background-color: #ff9aa2;
}

.piece-2{
    background-color: #ef5285;
}

.piece-3{
    background-color: #ffc5e1;
}

.piece-4{
    background-color: #c1f9ff;
}

.piece-5{
    background-color: #a1f7d8;
}

.piece-6{
    background-color: #a5dff9;
}

.piece-7{
    background-color: #ffb3c1;
}

.piece-8{
    background-color: #ffeb8a;
}

.piece-9{
    background-color: #f9a8ff;
}

.dropZone{
    width: 300px;
    height: 300px;
    border: 1px solid #d85b67;
}

.dropArea{
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
    grid-auto-rows: 100px;
}

.dropTarget{
    border: 1px solid #d85b67;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

button{
    width: 150px;
    height: 50px;
    background-color: #d85b67;
    color: #fff;
    border: none;
    font-size: 30px;
    border-radius: 5px;
}

button:hover{
    background-color: #e28b91;
}