body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.flame{
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 600px;
    grid-auto-rows: 200px;
}

.piece-1,.piece-5,.piece-7{
    background-color: #D5A8A8;
}

.piece-2,.piece-6,.piece-8{
    background-color: #F2C9C9;
}

.piece-3,.piece-4,.piece-9{
    background-color: #F7E1E1;
}